@media (max-width: 1140px) {
  .header .container {
    height: 120px;
    flex-direction: column;
    padding-top: 36px;
    align-items: flex-start;
  }
  .menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .start-screen-content {
    padding: 160px 10px 0;
    margin: 0 auto;
  }
  .gallery-list {
    width: 100%;
    height: fit-content;
    border: none;
  }
  .gallery::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/gallery/gallery-bg.png");
    background-repeat: repeat;
    background-position: top right;
  }
}

@media (max-width: 1040px) {
  .slider-card {
    flex-direction: column;
  }
  .slider-img-wrapper {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    padding-top: 15px;
  }
  .slider-card-img {
    width: auto;
  }
  .our-team::after {
    display: none;
  }
}

@media (max-width: 1015px) {
  .direction-list {
    height: 740px;
    width: 630px;
    padding-right: 0;
  }
}

@media (max-width: 931px) {
  .subscribe {
    height: fit-content;
  }
  .subscribe .section-title {
    text-align: center;
  }
  .subscribe-wrapper {
    height: fit-content;
  }
  .subscribe-button {
    margin-top: 40px;
  }
  .subscribe-social {
    margin: 0 auto;
  }
}

@media (max-width: 951px) {
  .membership-type-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .type-item.big {
    order: 2;
  }
}

@media (max-width: 840px) {
  .social-list {
    bottom: 50px;
  }
  .location {
    bottom: 55px;
  }
  .start-screen-content {
    padding: 120px 10px 0;
  }
}

@media (max-width: 740px) {
  .slider-card {
    width: 90%;
    margin: 0 auto 30px;
  }
  .slider-text-column {
    width: 100%;
    padding: 30px;
    height: fit-content;
  }
}

@media (max-width: 680px) {
  /* .subtitle {
    font-size: 160px;
  } */
  .header {
    height: 120px;
  }
}

@media (max-width: 650px) {
  .direction-list {
    width: 350px;
    height: 1400px;
    justify-content: space-between;
  }
}

@media (max-width: 499px) {
  .gallery-item {
    width: 100%;
  }
  .gallery-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 478px) {
  .slider-preview-wrapper {
    display: none;
  }
  .our-team .describe-text {
    position: static;
    margin-top: 20px;
  }
  .subscribe-wrapper {
    width: 100%;
  }
  .subscribe-text-column {
    width: 95%;
  }
  .contacts-column {
    width: 95%;
  }
  .feedback-list {
    width: 95%;
  }
  .feedback-item {
    width: 100%;
    padding: 30px;
    height: fit-content;
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .start-screen-content {
    padding: 90px 0 0;
  }
}

@media (max-width: 420px) {
  .start-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .direction-item-active {
    width: 250px;
    height: 300px;
  }
  .direction-item-active .direction-img {
    width: 100%;
    height: 150px;
  }
  .membership-term-list {
    width: 280px;
  }
  .type-item.big {
    width: 265px;
    height: 287px;
    padding: 58px 20px 25px;
  }
  .type-item.big .content-title {
    font-size: 20px;
  }
  .type-item.big .price-text {
    font-size: 30px;
  }
  .slider-text-column {
    padding: 30px 15px;
  }
  .subscribe {
    padding-bottom: 40px;
  }
  .subscribe-link {
    margin: 30px auto 40px;
  }
  .contacts-column p:nth-of-type(2n) {
    width: 190px;
  }
  .contacts-column {
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    height: fit-content;
    justify-content: center;
  }
  .contacts-column p {
    margin: 0 auto;
  }
  .subscribe-social {
    margin-top: 30px;
  }
  .location,
  .start-screen .social-list {
    position: static;
    margin: 10px auto;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
}

@media (max-width: 380px) {
  .slider-card-img {
    width: 260px;
    height: auto;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 22px;
  }
  .subscribe-link {
    font-size: 13px;
    height: 40px;
  }
  .subscribe-link::before {
    font-size: 22px;
    height: 40px;
  }
}
